/*  your css code here. If applicable */
body {
  margin: 0;
  background-color: #a56de2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#buttons {
  display: flex;
  gap: 20px;
}

.btn {
  background-color: #5e2b97;
  border: none;
  color: white;
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.stop {
  background-color: #5e2b97;
}
